* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-size: 3rem;
    background-color: black;
    color: white;
    flex-flow: column;
}

nav {
    padding: 12px;
    background-color: #B01C12;
    color: gray;
    font-size: 25px;
}

main {
} 

h1, p {
    text-align: center;
}

a {
    text-decoration: none;
    color:rgb(136, 132, 132);
}

a:hover {
    opacity: .85;
}