* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100px;
    font-size: 16px;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between; /* Recommendation to get the right side user profile by ChatGPT */
    align-items: center;
    padding: 12px;
    background-color: #B01C12;
    color: gray;
    font-size: 25px;
    line-height: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*
.burger ul {
    list-style-type: none;
}

.burger ul li {
    display: inline-flex;
    margin: 5px 16px;
}
*/
.user {
    display: flex;
    align-items: center;
}

.quotes {
    display: flex;
    /*align-items: center;*/
    text-align: center;
    gap: 20px;
    justify-content: space-around;
}

.quote {
    padding: 25px;
    font-size: 20px;
    align-items: center;
}

main {
    font-size: 45px;
} 


h1, p {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline;
}

#why {
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color:rgb(136, 132, 132);
}

a:hover {
    opacity: .85;
}

.forms {
    font-size: 16px;
}