* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100px;
    font-size: 16px;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between; /* Recommendation to get the right side user profile by ChatGPT */
    align-items: center;
    padding: 12px;
    background-color: #B01C12;
    color: gray;
    font-size: 25px;
    line-height: 1;
    position: relative;
}

h1, p {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline;
}

main {
    font-size: 35px;
}

td, th {
    border: 1px solid darkgray;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #202120;
}

tr:hover {
    background-color: #333634;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #7a0101;
}

a {
    text-decoration: none;
    color:rgb(136, 132, 132);
}

a:hover {
    opacity: .85;
}

ul {
    list-style-type: none;
}

.links, .user {
    display: flex;
    align-items: center;
    position: relative;
}

.quotes {
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: space-around;
}

.quote {
    padding: 25px;
    font-size: 20px;
    align-items: center;
}

.collapsible {
    background-color: #B01C12;
    color:aliceblue;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
}

.active .collapsible:hover {
    background-color: #B01C12;
}

.content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 18px;
    background-color: #B01C12;
    list-style-type: none;
    z-index: 10;
}

.user .content {
    right: 0;
    left: auto;
}
.forms {
    font-size: 16px;
}

.passTable {
    text-decoration: none;
}

#why {
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

#newPass {
    color:blue;
}