<!--Where all the passwords will be stored and presented-->
{% extends 'layout.html' %}

{% block title %}
    Vault
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>The Vault</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </table>
    <!--I eventually want this to be behind another button-->
    <form method="post" action="{% url 'add_password' %}">
        {% csrf_token %}
        <label for="site">Site:</label>
        <input type="text" name="site" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" required>
        <button type="submit">Submit</button>
    </form>
    {% else %}
        <p>Please <a href="/users/login">sign in</a> or <a href="/users/register/">create an account</a></p>
    {% endif %}
{% endblock %}