{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}
{% block auth_title %}
    Home
{% endblock %}
{% block unauth_title %}
    Home
{% endblock %}
{% block content %}
    <h3>The Why</h3>
    <p id="why"></br>Password security. "Oh I just use my birthday because it's easy to remember." "I use my dog's name because 
        I won't forget that." These passwords are not secure at all. We need to be better with adding complexity to our passwords. 
        "But I won't be able to remember my passwords if I start adding random characters to it!" Well now, with the state of the 
        art Loede Password Vault, you don't have to worry about forgetting another password! For the grand price of $0.00, you 
        could sign up for an account to start storing your secure passwords today!</br></br>
    </p>
    <h3>Quotes</h3>
    <div class="quotes">
        
        <div class="quote">
            "I watched a YouTube video on how fast passwords without non alphabet characters could be cracked,
            I immediately looked up password vaults and found this incredible product! AND FOR FREE??"</br>
            -Not Tyler Loede
        </div>
        <div class="quote">
            "I was using the default password! Now I can safely add all kinds of characters without worrying I'll forget!"</br>
            -Tyler Loede
        </div>
        <div class="quote">
            "Growing up, I always used the same password. I never thought anything of it until I got to college where 
            I started learning about cybersecurity. I knew my single password days were over after that."</br>
            -Lyler Toede
    </div>

{% endblock %}