{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}
{% block auth_title %}
    Login
{% endblock %}
{% block unauth_title %}
    Login
{% endblock %}
{% block content %}
    <form class="forms" action="/users/login/" method="post">
        {% csrf_token %}
        <div class="form-username">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="login-form-password">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <button class="form-submit">Submit</button>
    </form>
{% endblock %}